<div class="box achive">
	<div class="title"><h6>Архив обращений</h6></div>
	<div class="box-content">
		<p>По вопросам рассмотрения Вашей претензии можно обратиться к любому сотруднику «Отдела по работе с претензиями» по телефону  xxxxx или e-mail client@magamax.ru .</p>
		<p>Если статус Вашей Заявки не изменился в течении 24 часов, обратитесь к руководителю «Отдела по работе с претензиями»  Зименко Оксане по телефону хххххх ».</p>
	</div>
</div>