<footer>
	<div class="centered row">
		<div class="col-20">
			<div class="copy">© 2012 ЗАО «ТПК «МАГАМАКС»</div>
			<a href="#">Вход для торговых представителей</a><br>
			Дизайн — Студия <a href="#">design+code</a><br>
			Создание — <a href="#">Sol-IT</a>
		</div>
		<div class="col-24 col-offset-2">
			<h2>Контакты</h2>
			+7 (495) 781 66 53 <br>
			109431, Москва, ул. Привольная, 70<br>
			<br>
			Всё для мебели - <a href="mailto:metall@maga.ru">metall@maga.ru</a><br>
			Всё для дома и сада - <a href="mailto:opt@maga.ru">opt@maga.ru</a><br>
			Отдел кадров - <a href="mailto:hr@maga.ru">hr@magamax.ru</a><br>
		</div>
		<div class="col-16 col-offset-2 cat">
			<h2>Каталог</h2>
			<a href="#">Кухня и бар</a>
			<a href="#">Домашний декор</a>
			<a href="#">Свет</a>
			<a href="#">Плетеный интерьер</a>
			<a href="#">Удобное хранение</a>
			<a href="#">Плетеный интерьер</a>
		</div>
		<div class="col-16 col-offset-2 cat">
			<a href="#">Удобное хранение</a>
			<a href="#">Подарки</a>
			<a href="#">Домашний декор</a>
			<a href="#">Плетеный интерьер</a>
			<a href="#">Свет</a>
			<a href="#">Кухня и бар</a>
			<a href="#">Сад</a>
			<a href="#">Эксклюзивный декор</a>
		</div>
		<div class="col-16 col-offset-2 cat">
			<a href="#">Плетеный интерьер</a>
			<a href="#">Свет</a>
			<a href="#">Домашний декор</a>
			<a href="#">Свет</a>
			<a href="#">Кухня и бар</a>
			<a href="#">Плетеный интерьер</a>
			<a href="#">Домашний декор</a>
			<a href="#">Подарки</a>
		</div>
	</div>
</footer>
