<div class="cl">
	<div class="col col-left product-data">
		<label class="title">Ваша претензия касается: </label>
		<label>УПД №</label>
		<input type="text" class="form-control" name="number" value="1234567890909090"/>
	</div>
	<div class="col col-right customer-data">
		<div class="form-group cl">
			<div class="col col-left"><label>Телефон</label></div>
			<div class="col col-right"><input type="" name="" placeholder="" value="" class="form-control"/></div>
		</div>
		<div class="form-group cl">
			<div class="col col-left"><label>E-mail</label></div>
			<div class="col col-right"><input type="" name="" placeholder="" value="" class="form-control"/></div>
		</div>
		<div class="form-group cl">
			<div class="col col-left"><label>Контактное лицо</label></div>
			<div class="col col-right"><input type="" name="" placeholder="" value="" class="form-control"/></div>
		</div>
	</div>
</div>