<div class="form-wrap">
	<form action="" method="post">
		<div class="fields-group">
			<p class="form-title">Пожалуйста, выберите вопрос или тему предложения и заполните поля контактов для обратной связи </p>
			<div class="customer-data">
				<div class="form-group cl">
					<div class="col col-left"><label>Тема вашего обращения</label></div>
					<div class="col col-right">
						<select class="form-control">
							<option class="placeholder" selected disabled="disabled">Выберите тему</option>
							<option>Пожаловаться на работу</option>
							<option>Похвалить</option>
							<option>Предложение</option>
							<option>Задать вопрос</option>
						</select>
					</div>
				</div>
				<div class="form-group cl">
					<div class="col col-left"><label>Телефон для связи</label></div>
					<div class="col col-right"><input type="" name="" placeholder="" value="" class="form-control"/></div>
				</div>
				<div class="form-group cl">
					<div class="col col-left"><label>E-mail</label></div>
					<div class="col col-right"><input type="" name="" placeholder="" value="" class="form-control"/></div>
				</div>
				<div class="form-group cl">
					<div class="col col-left"><label>Контактное лицо</label></div>
					<div class="col col-right"><input type="" name="" placeholder="" value="" class="form-control"/></div>
				</div>
			</div>
		</div>
		//=include table-proposal.html
		<div class="btn-group text-right">
			<button type="submit" class="btn btn-default btn-icon i-mail js-load-file">Отправить</i></button>
		</div>

	</form>
</div>
