<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#fff">
<link rel="stylesheet" media="all" href="css/style.css" >
<link rel="stylesheet" media="all" href="css/site.css" >
