<header>
	<div class="centered row">
		<div class="userarea">
			<div><a href="#">Получить бизнес-аккаунт</a></div>
			<div class="login"><a href="#" onclick="javascript: $('div.popup_login').show(); return false;">Войти в бизнес-аккаунт</a></div>
		</div>
		<div class="phone">+7 (495) 781-6653</div>
	</div>
	<div class="nav">
		<div class="centered row">
			<a href="/" class="logotype"><img src="i/logo.gif"></a>
			<ul>
				<li><a href="#">Акции</a></li>
				<li class="hassub"><a href="#">Каталог</a>
					<div class="sub">
					<div class="table">
						<div class="tr">
							<div class="td">
								<img src="http://maga.ru/upload/iblock/0ff/0ff39f665def2081c15251cdd8f0fda8.jpg">
								<h2><a href="#">Мебель для дома</a></h2>
								<ul>
									<li><a href="#">Товары для хранения</a></li>
									<li><a href="#">Корзины</a></li>
									<li><a href="#">Лампы</a></li>
									<li><a href="#">Подарки</a></li>
									<li><a href="#">Вазы</a></li>
									<li><a href="#">Часы</a></li>
									<li><a href="#">Предметы из бамбука</a></li>
									<li><a href="#">Подушки и пледы</a></li>
									<li><a href="#">Ковры</a></li>
								</ul>
							</div>
							<div class="td">
								<img src="http://maga.ru/img/image/GAB09_s.jpg">
								<h2><a href="#">Товары для хранения</a></h2>
								<ul>
									<li><a href="#">Ковры</a></li>
									<li><a href="#">Подарки</a></li>
									<li><a href="#">Подушки и пледы</a></li>
									<li><a href="#">Товары для хранения</a></li>
									<li><a href="#">Корзины</a></li>
									<li><a href="#">Лампы</a></li>
								</ul>
							</div>
							<div class="td">
								<img src="http://maga.ru/img/image/BRL-02_s.jpg">
								<h2><a href="#">Корзины</a></h2>
								<ul>
									<li><a href="#">Подушки и пледы</a></li>
									<li><a href="#">Ковры</a></li>
									<li><a href="#">Подарки</a></li>
									<li><a href="#">Вазы</a></li>
									<li><a href="#">Часы</a></li>
									<li><a href="#">Товары для хранения</a></li>
									<li><a href="#">Лампы</a></li>
									<li><a href="#">Предметы из бамбука</a></li>
								</ul>
							</div>
							<div class="td">
								<img src="http://maga.ru/upload/iblock/0ff/0ff39f665def2081c15251cdd8f0fda8.jpg">
								<h2><a href="#">Лампы</a></h2>
								<ul>
									<li><a href="#">Вазы</a></li>
									<li><a href="#">Часы</a></li>
									<li><a href="#">Предметы из бамбука</a></li>
									<li><a href="#">Товары для хранения</a></li>
									<li><a href="#">Корзины</a></li>
									<li><a href="#">Лампы</a></li>
									<li><a href="#">Подарки</a></li>
									<li><a href="#">Подушки и пледы</a></li>
									<li><a href="#">Ковры</a></li>
								</ul>
							</div>
							<div class="td">
								<img src="http://maga.ru/upload/iblock/0ff/0ff39f665def2081c15251cdd8f0fda8.jpg">
								<h2><a href="#">Подарки</a></h2>
								<ul>
									<li><a href="#">Подарки</a></li>
									<li><a href="#">Вазы</a></li>
									<li><a href="#">Часы</a></li>
									<li><a href="#">Товары для хранения</a></li>
									<li><a href="#">Корзины</a></li>
									<li><a href="#">Лампы</a></li>
									<li><a href="#">Предметы из бамбука</a></li>
									<li><a href="#">Подушки и пледы</a></li>
								</ul>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<img src="http://maga.ru/upload/iblock/0ff/0ff39f665def2081c15251cdd8f0fda8.jpg">
								<h2><a href="#">Вазы</a></h2>
								<ul>
									<li><a href="#">Товары для хранения</a></li>
									<li><a href="#">Корзины</a></li>
									<li><a href="#">Лампы</a></li>
								</ul>
							</div>
							<div class="td">
								<img src="http://maga.ru/upload/iblock/0ff/0ff39f665def2081c15251cdd8f0fda8.jpg">
								<h2><a href="#">Часы</a></h2>
								<ul>
									<li><a href="#">Подушки и пледы</a></li>
									<li><a href="#">Товары для хранения</a></li>
									<li><a href="#">Корзины</a></li>
									<li><a href="#">Лампы</a></li>
								</ul>
							</div>
							<div class="td">
								<img src="http://maga.ru/upload/iblock/0ff/0ff39f665def2081c15251cdd8f0fda8.jpg">
								<h2><a href="#">Предметы из бамбука</a></h2>
								<ul>
									<li><a href="#">Предметы из бамбука</a></li>
									<li><a href="#">Подушки и пледы</a></li>
									<li><a href="#">Ковры</a></li>
								</ul>
							</div>
							<div class="td">
								<img src="http://maga.ru/upload/iblock/0ff/0ff39f665def2081c15251cdd8f0fda8.jpg">
								<h2><a href="#">Подушки и пледы</a></h2>
								<ul>
									<li><a href="#">Подарки</a></li>
									<li><a href="#">Вазы</a></li>
									<li><a href="#">Товары для хранения</a></li>
								</ul>
							</div>
							<div class="td">
								<img src="http://maga.ru/img/image/DGC-04_s.jpg">
								<h2><a href="#">Ковры</a></h2>
								<ul>
									<li><a href="#">Предметы из бамбука</a></li>
									<li><a href="#">Подушки и пледы</a></li>
									<li><a href="#">Ковры</a></li>
									<li><a href="#">Часы</a></li>
								</ul>
							</div>
						</div>
					</div>
					</div>
				</li>
				<li class="hassub mini"><a href="#">Бренды</a>
					<div class="sub">
					<ul>
						<li><a href="#">Мебель для дома</a></li>
						<li><a href="#">Товары для хранения</a></li>
						<li><a href="#">Корзины</a></li>
						<li><a href="#">Лампы</a></li>
						<li><a href="#">Подарки</a></li>
						<li><a href="#">Вазы</a></li>
						<li><a href="#">Часы</a></li>
						<li><a href="#">Предметы из бамбука</a></li>
						<li><a href="#">Подушки и пледы</a></li>
						<li><a href="#">Ковры</a></li>
					</ul>
					</div>
				</li>
				<li><a href="#">О компании</a></li>
				<li class="active"><a href="#">Помощь</a></li>
				<li><a href="#">Доставка</a></li>
			</ul>
			<div class="search-box">
				<form action="/search/index.php">
					<input name="q" autocomplete="off" placeholder="поиск" type="search">
				</form>
				<div id="search-results"></div>
			</div>
		</div>
	</div>
</header>
