<div class="table-wrap proposal-table">
	<table>
		<thead>
			<tr>
				<th class="proposal">Суть предложения</th>
				<th class="file">Загрузить документ в формате PDF</th>
			<tr>
		</thead>
		<tbody>
			<tr>
				<td class="proposal"><textarea class="form-control"></textarea></td>
				<td class="file">
					<div class="form-group file js-btn-file">
						<input type="file" name="file" />
						<button type="button" class="btn btn-info btn-icon i-clip"><span class="not-loaded">прикрепить файл</span><span class="loaded">файл прикреплен</span></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
