@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-list: "\EA01"
$icon-pen: "\EA02"
$icon-calculator: "\EA03"
$icon-sound: "\EA04"
$icon-storage: "\EA05"
$icon-site: "\EA06"
$icon-medal: "\EA07"
$icon-clip: "\EA08"
$icon-ok: "\EA09"
$icon-mail: "\EA0A"
$icon-arrow-down: "\EA0B"
$icon-head: "\EA0C"
$icon-plus: "\EA0D"
$icon-abacus: "\EA0F"
$icon-sad-smile: "\EA11"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-list:before
	content: $icon-list
.icon-pen:before
	content: $icon-pen
.icon-calculator:before
	content: $icon-calculator
.icon-sound:before
	content: $icon-sound
.icon-storage:before
	content: $icon-storage
.icon-site:before
	content: $icon-site
.icon-medal:before
	content: $icon-medal
.icon-clip:before
	content: $icon-clip
.icon-ok:before
	content: $icon-ok
.icon-mail:before
	content: $icon-mail
.icon-arrow-down:before
	content: $icon-arrow-down
.icon-head:before
	content: $icon-head
.icon-plus:before
	content: $icon-plus
.icon-abacus:before
	content: $icon-abacus
.icon-sad-smile:before
	content: $icon-sad-smile