@font-face {
  font-family: 'i';
  src: url('fonts/i.eot?33281439');
  src: url('fonts/i.eot?33281439#iefix') format('embedded-opentype'),
       url('fonts/i.woff2?33281439') format('woff2'),
       url('fonts/i.woff?33281439') format('woff'),
       url('fonts/i.ttf?33281439') format('truetype'),
       url('fonts/i.svg?33281439#i') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'i';
    src: url('../font/i.svg?33281439#i') format('svg');
  }
}
*/

 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "i";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.i-mail:before { content: '\e800'; }
.i-arrow-down:before { content: '\e801'; }
.i-head:before { content: '\e802'; }
.i-plus:before { content: '\e803'; }
.i-abacus:before { content: '\e804'; }
.i-list:before { content: '\e805'; }
.i-pen:before { content: '\e806'; }
.i-calculator:before { content: '\e807'; }
.i-sound:before { content: '\e808'; }
.i-storage:before { content: '\e809'; }
.i-site:before { content: '\e80a'; }
.i-medal:before { content: '\e80b'; }
.i-clip:before { content: '\e80c'; }
.i-ok:before { content: '\e80d'; }
.i-sad-smile:before { content: '\e80e'; }
