@import 'lib/mixins';
@import 'lib/normalize';
// @import 'lib/sprite';
// @import 'lib/svgfont';

@import 'jquery-ui.scss';
@import 'collapse.scss';

@import 'icons.scss';

.col {
	float: left;
	box-sizing: border-box;
	&.col-left {
		width: 45%;
		padding-right: 5px;
	}
	&.col-right {
		width: 55%;
		padding-left: 5px;
	}
}

.cl {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

label {
	color: #5c5b59;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
}
.form-group {
	label {
		line-height: 23px;
	}
}
.form-wrap {
	.form-title {
		color: #5c5b59;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		margin-bottom: 25px;
	}
}

.form-control {
	border: 1px solid #d6d6d6;
	display: inline-block;
	padding: 0 12px;
	font-size: 14px;
	line-height: 21px;
	background-color: #fff;
	background-image: none;
	box-shadow: none;
	width: 100%;
	max-width: 280px;
	&:focus {
		border-color: #ee7e3a;
	}
	/* WebKit, Blink, Edge */
	&::-webkit-input-placeholder {
		color: #ccc;
	}
	/* Mozilla Firefox 4 to 18 */
	&:-moz-placeholder {
		color: #ccc;
	}
	/* Mozilla Firefox 19+ */
	&::-moz-placeholder {
		color: #ccc;
		opacity: 1;
	}
	/* Internet Explorer 10-11 */
	&:-ms-input-placeholder {
		color: #ccc;
		opacity: 1;
	}
}
textarea {
	&.form-control {
		width: 100%;
		display: block;
		max-width: inherit;
		resize: none;
		min-height: 50px;
	}
}
.form-group {
	margin-bottom: 10px;
	&.file {
		input[type='file'] {
			display: none;
		}
		.i-clip {
			background: #ebebeb;
			.loaded {
				display: none;
			}
		}
		.i-ok {
			background: #d8eee8;
			.not-loaded {
				display: none;
			}
		}
	}
	.col-left {
		text-align: right;
	}
}
.text-right {
	text-align: right;
}

.btn {
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	padding: 6px 12px;
	margin: 0;
	border: none;
	border-radius: 0;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	&.btn-icon {
		padding-right: 30px;
		position: relative;
		&:before {
			position: absolute;
			width: 25px;
			top: 0;
			right: 0;
			line-height: 28px;
			text-align: left;
			margin: 0;
		}
	}
	&:hover,
	&:focus {
		opacity: 0.8;
	}
}
.btn-default {
	color: #fff;
	background: #ee7e3a;
}
.btn-primary {
	color: #5d5c5a;
	background: #ebebeb;
}
.btn-info {
	color: #5c5b59;
	background: #d8eee8;
}

.custom_container {
	p {
		color: #5b5c59;
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
	}
	h4 {
		line-height: 24px;
		color: #313131;
		font-size: 16px;
		font-weight: 700;
		padding: 0;
		margin: 0;
	}
	h6 {
		color: #5c5b59;
		font-size: 16px;
		font-weight: 700;
		margin: 0 0 15px 0;
	}
	.accordion-group {
		margin-bottom: 25px;
		.panel {
			&:after {
				@extend .cl;
			}
		}
		.panel-heading {
			background-color: #ebebeb;
			border-bottom: 1px solid #bcbcbc;
			.panel-title {
				color: inherit;
				padding: 0;
				margin: 0;
				a {
					padding: 6px 0 10px 68px;
					cursor: pointer;
					color: #5c5b59;
					font-size: 18px;
					font-weight: 700;
					line-height: 36px;
					display: block;
					position: relative;
					text-decoration: none;
					&:not(.collapsed) {
						background: #d8eee8;
					}
					&:hover {
						background: #d8eee8;
					}
					&:hover,
					&:focus,
					&:visited {
						text-decoration: none;
					}
					&:before {
						font-size: 25px;
						position: absolute;
						top: 0;
						left: 20px;
						bottom: 0;
						margin: auto;
						line-height: 1;
						height: 25px;
					}
					&:hover,
					&:focus,
					&:visited {
						text-decoration: none;
					}
				}
			}
		}
		.panel-collapse {
			// padding: 15px 0;
		}
	}

	.box {
		margin-bottom: 20px;
		&.achive {
			p {
				font-size: 13px;
				line-height: 16px;
			}
		}
		.title {
			padding-left: 24px;
			&.with-icon {
				margin-bottom: 20px;
				position: relative;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					font-size: 23px;
					line-height: 23px;
					width: auto;
					margin: 0;
				}
				&.i-sad-smile {
					&:before {
						font-size: 18px;
					}
				}
			}
		}
		.box-content {
			padding-left: 20px;
		}
	}


	.fields-group {
		border-width: 0 1px;
		border-color: #e9e9e9;
		border-style: solid;
		padding: 15px;
	}

	.btn-group {
		.btn {
			& + .btn {
				margin-left: 10px;
			}
		}
	}

	.form-wrap {
		.table-wrap {
			margin-bottom: 20px;
		}
		.btn-group {
			padding: 0 0 23px 0;
		}
		.product-data {
			background: #ebebeb;
			text-align: right;
			padding: 6px 14px 23px 14px;
			width: 43%;
			label {
				&:not(.title) {
					padding-right: 10px;
					line-height: 30px;
				}
			}
			.title {
				display: block;
				margin-bottom: 10px;
			}
			.form-control {
				text-align: left;
				width: 235px;
				font-size: 23px;
				line-height: 30px;
				padding: 5px 10px;
				font-weight: 600;
				border: none;
			}
		}
		.customer-data {
			.col-left {
				width: 32%;
			}
			.col-right {
				width: 68%;
			}
		}
	}
	.table-wrap {
		.form-control {
			font-size: 13px;
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		thead {
			background: #f8f8f4;
		}
		th,
		td {
			text-align: left;
			border: 1px solid #bfbfbf;
			vertical-align: top;
		}
		th {
			color: #5b5c59;
			font-size: 14px;
			font-weight: 700;
			line-height: 18px;
			padding: 6px 11px;
		}
		td {
			color: #313131;
			font-size: 13px;
			font-weight: 400;
			line-height: 18px;
			padding: 10px 11px;
			span {
				display: block;
				&.blue {
					color: #154485;
				}
				&.green {
					color: #158567;
				}
			}
		}
	}
	.proposal-table {
		table {
			table-layout: fixed;
		}
		.proposal {
			width: 585px
		}
	}
	.claim-quantity-table {
		table {
			table-layout: fixed;
		}
		th {
			line-height: 16px;
			&.q-docs {
				padding-right: 0;
			}
		}
		td {
			min-height: 46px;
			vertical-align: middle;
		}
		.sku {
			width: 91px;
			.form-control {
				padding: 0 12px 0 6px;
			}
		}
		.name {
			width: 357px;
		}
		.q-docs {
			width: 123px;
		}
		.q-fact {
			width: 111px;
		}
		.diff {
			.form-control {
				color: #ea1010;
			}
		}
	}
	.claim-quality-table {
		table {
			table-layout: fixed;
		}
		th {
			line-height: 16px;
			&.quantity {
				padding-right: 0;
			}
		}
		td {
			max-height: 70px;
		}
		.form-control {
			line-height: 19px;
		}
		.sku {
			width: 91px;
			.form-control {
				padding: 0 12px 0 6px;
			}
		}
		.name {
			width: 220px;
		}
		.quantity {
			width: 100px;
			.form-conttrol {
				color: #ea1010;
			}
		}
		.desc {
			width: 275px;
			.form-control {
				line-height: 15px;
			}
		}
	}
	.hint {
		font-size: 13px;
		color: #cccccc;
		font-style: italic;
	}
}
.reclamation_container {
	.form-wrap {
		.btn-group {
			padding: 0 15px 41px 15px;
		}
	}
}

// redefine select styles
.ui-selectmenu-button.ui-button {
	&:not(.selected) {
		color: #ccc;
		font-style: italic;
	}
	width: 320px;
	margin: 0;
	border: 1px solid #d6d6d6;
	padding: 0 30px 0 7px;
	font-size: 13px;
	line-height: 21px;
	position: relative;
	.ui-selectmenu-icon {
		width: 21px;
		height: 21px;
		position: absolute;
		top: 0;
		right: 0;
		background: #d8eee8 url('../i/i-arrow-down.svg') no-repeat center center / 17px 10px;
	}
}
.ui-selectmenu-menu .ui-menu {
	border-style: solid;
	border-color: #d6d6d6;
	border-width: 0 1px 1px 1px;
	background: #fff;
}
.ui-selectmenu-menu {
	.ui-menu {
		.ui-menu-item {
			& + .ui-menu-item{
				.ui-menu-item-wrapper {
					border-top: 1px solid #d6d6d6;
				}
			}
		}
		.ui-menu-item-wrapper {
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			color: #5c5b59;
			padding: 4px 7px 4px 7px;
			&.ui-state-focus,
			&.ui-state-active {
				margin: 0 !important;
				color: #f36f21;
			}
		}
	}
}
